.navbar {
  background-color: #333;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  gap: 25px;
}

.icon {
  color: #fff;
  font-size: 25px;
  color: orange;
}
