.profile-button-link {
  display: inline-flex; /* Use flexbox for layout */
  align-items: center;
  text-decoration: none;
  color: inherit;
  gap: 8px;
}


  .profile-button-icon {
    color: orange;
    font-size: 30px;
  }
