@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/* General Styles */
.spot-overview-container {
  margin: 45px auto 0;
  font-family: 'Fredericka the Great', cursive;
  justify-content: center;
  font-weight: bold;
}

.location-details {
  display: flex;
  margin: auto;
  box-sizing: border-box;
  font-family: 'Fredericka the Great', cursive;
}

.booking-info {
    border: 2px solid black;
    position: relative;
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    font-family: 'Fredericka the Great', cursive;
    margin-right: 100px;
    margin-top: -10px;
    border-radius: 20px;
  }

/* Rating and Price Styles */
.rating-and-pricing {
  display: flex;
  justify-content: space-between;
  font-family: 'Fredericka the Great', cursive;
  font-weight: bold;
}

/* Heading Styles */
.spot-title {
  font-family: 'Fredericka the Great', cursive;
}

/* Positioning Styles */
.spot-details-wrap {
  display: flex;
  justify-content: space-between;
}

/* Reserve Button Styles */
.reservation-button {
  background-color: #e19e2b;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: #000000c7 2px solid;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-align: center;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Fredericka the Great', cursive;
  font-weight: 500;
}

.reservation-button:hover {
  background-color: #080601;
}

/* Large Box Styles */
.spot-imagery-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

/* Large Spot Image Styles */
.primary-spot-visual {
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(43, 92, 238, 0.2);
  width: 700px;
  height: 500px;
  object-fit: cover;
}

/* Image List Styles */
.thumbnail-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    list-style: none;
    padding: 0;
  }

  /* Small Spot Image Styles */
  .thumbnail-image {
    width: 100%;
    height: auto;
    max-height: 210px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
  }

/* Responsive Styles for Small Screens */
@media (max-width: 768px) {
  .spot-imagery-section {
    flex-direction: column;
  }

  .primary-spot-visual,
  .thumbnail-list {
    width: 400px;
    height: 300px;
  }

  .thumbnail-list {
    display: none;
  }
}
