.spot-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .manage-spot-page .spot-tile-rating {
    display: flex;
    align-items: center;
    margin-right: 245px;
  }

.delete-spot-button {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 35px;
}

.delete-spot-button:hover {
  background-color: #cc0000;
}
