@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.spots-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-gap: 50px;
}

@media (max-width: 1000px) {
  .spots-list {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

.spot-tile-title {
  font-family: 'Fredericka the Great', cursive;
  margin-left: 6px;
  font-size: 40px;
  font-weight: bold;
}

.landing-page .spot-tile {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tooltip {
  position: relative;
  text-align: center;
  background-color: white;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  margin-bottom: 5px;
  width: 50%;
}

.spot-tile-image {
  height: 300px;
  width: 375px;
  border-radius: 20px;
  box-shadow: 0 0 75px rgba(61, 13, 184, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.spot-name {
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding: 0;
}

.spot-tile-link {
  text-decoration: none;
  color: black;
}

.spot-tile-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.spot-tile-rating {
  display: flex;
  align-items: center;
  margin-right: 70px;
  font-weight: bold;
  font-size: 17x;
  margin-bottom: 10px;
}

.spot-tile-rating .fa-star {
  margin-right: 5px;
  margin-bottom: 2px;
}
