.login-form-container {
    max-width: 400px;
    padding: 55px;
    background-color: #f9f9f9;
  }

  .login-form-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  .login-form-label {
    display: block;
    margin-bottom: 10px;
  }

  .login-form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }

  .login-form-error {
    color: red;
    margin-bottom: 10px;
  }

  .login-form-submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  .login-form-submit:hover {
    background-color: blue;
  }

  .login-form-submit:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }


  .demo-login-form-submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 10px; /* Add some margin from the other button */
  }

  .demo-login-form-submit:hover {
    background-color: blue;
  }

  .demo-login-form-submit:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
